xml/xsd/countrydetails.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Countries">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Country">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CountryID" type="xs:string" />
              <xs:element name="CountryName" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>