xml/xsd/coursedetails.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Courses">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Course">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CourseID" type="xs:string" />
              <xs:element name="CourseName" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>